.error-msg{
    color: #ff5500;
    padding-left: 10px;
}

/* 选择性覆盖样式 */
.am-tab-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.fixed-header .am-navbar{
    position: fixed;
    top: 0;
    width: 100%;
}

.page-content{
    padding: 45px 5px;
}